/* custom.css */

/* Change the background color of the navigation header */
.wy-side-nav-search {
    background: #7cc592; /* Map Green*/
}

/* Change the background color of the main sidebar menu */
.wy-nav-side {
    background:#4791c3 /* FDC Blue*/
}

.icon-home {
    color: #4791c3; /* FDC Blue */
}

/* Change the text color of the left sidebar menu */
.caption span.caption-text {
    color: #FFFFFF; /* Change to your desired color */
}
.wy-nav-side caption-text a {
    color: #000000;
}
.wy-nav-side p.caption a {
    color: #000000; /* Replace with your desired color (e.g., #FFFFFF for white, or a specific color name) */
}

/* Change the background color of the left sidebar menu sublevels*/

.toctree-l2 {
    background-color:#d1e3f0; /* Light blue background */
}

/* Change the background and border color for the entire 'note' block */
.admonition.note {
    background-color: #FDFBD4; /* Cream background */
}

/* Change the background color of the 'note' title */
.admonition.note > .admonition-title {
    background-color: #1c3f56;  /* dark blue  */
}

/* Change the background and border color for the entire 'hint' block */
.admonition.hint {
    background-color: #e9f2f8 /* Light Blue */
}

/* Change the background color of the 'note' title */
.admonition.hint > .admonition-title {
    background-color: #4992c4;  /* medium blue  */
}

.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

img {
    border: 1px solid #ccc; /* Example: 1px solid light gray border */
    padding: 5px; /* Optional: add some padding around the image inside the border */
}

.lightbox-image {
    max-width: 90%;
    max-height: 90%;
    display: block;
}

/* Add border to figures with the class "bordered-figure" */
.bordered-figure {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
